.list-view:focused {
    -fx-background-color: -fx-focus-color, -fx-box-border, -fx-control-inner-background;
    -fx-background-insets: 0, 0, 0;
    -fx-background-radius: 0, 0, 0;

    /* There is some oddness if padding is in em values rather than pixels,
       in particular, the left border of the control doesn't show. */
    -fx-padding: 1; /* 0.083333em; */
}